<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Book List</title>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="materialize.min.css"
      media="screen,projection">
    <link type="text/css" rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.js" defer></script>
    <script src="text/eng.js" defer></script>
    <script src="script.js" defer></script>
    <script src="materialize.min.js" defer></script>
  </head>
  <body>
    <main>
      <section id="generic">
        <section class="title">
          <h2 id="title">[page title]</h2>
        </section>
        <section class="intro">
          <p id="intro">[page introduction]</p>
        </section>
        <section class="controls">[template 0 results]</section>
      </section>
      <section id="list">
        <div class="record" id="record-[id]">
          <button class="specific"
            id="[action]-[id]">[text_button_recaction]</button>
          <span class="legend">[text_legend_recaction]</span>
        </div>
      </section>
      <section id="contingent">
        <section class="invisible" id="make">
          <div class="legend"></div>
          <div id="make-[property]">[template 1 results]</div>
          <div class="make-done">
            <button class="specific">[text_make_done]</button>
          </div>
        </section>
        <section class="invisible" id="detail">
          <div class="legend"></div>
          <div id="detail-[property]">[template 1 results]</div>
          <div class="detail-controls">
            <button class="specific" id="revise">[text_button_revise]</button>
            <button class="specific invisible"
              id="revise-submit-[id]">[text_button_revsubmit]</button>
            <button
              class="specific invisible" id="revise-revert">[text_button_revrevert]</button>
            <button class="specific"
              id="delete-[id]">[text_button_delete]</button>
            <div class="alert" id="revalert">[text_alert]</div>
          </div>
        </section>
        <!--The following sections are invisible templates, to be cloned,
        populated, and inserted into the document where needed.-->
        <!--Generic control template-->
        <section id="template-0">
          <div class="controller" id="controller-[action: see_all or add]">
            <button class="generic">[button text]</button>
            <span class="legend">[legend]</span>
          </div>
        </section>
        <!--Labeled text input for 1 property of a list item-->
        <section class="invisible">
          <section id="template-1">
            <span class="name">[property name]</span>
            <label>[label text]
              <!--If status neither readonly nor required, omit status.-->
              <input
                name="[property name]"
                status: "[item status: readonly or required]"
                type="[property type: text, url, or date]"
                value=""
                placeholder="[property placeholder]"
                size="1"
                maxlength="1">
            </label>
          </section>
        </section>
      </section>
    </main>
  </body>
</html>
