<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Book List</title>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="materialize.min.css"
      media="screen,projection">
    <link type="text/css" rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.js" defer></script>
    <script src="text/eng.js" defer></script>
    <script src="script.js" defer></script>
    <script src="materialize.min.js" defer></script>
  </head>
  <body>
    <main>
      <section id="generic">
        <section class="title">
          <h2 id="title">[page title]</h2>
        </section>
        <section class="intro">
          <p id="intro">[page introduction]</p>
        </section>
        <section class="controls">[template 0 results]</section>
      </section>
      <section class="invisible" id="list">[template 1 results]</section>
      <section class="invisible" id="detail">
        <div class="instructions">[instructions]</div>
        <div class="properties">[template 2 results]</div>
        <section class="controls">[template 3 results]</section>
      </section>
      <section class="invisible" id="add">
        <div class="instructions">[instructions]</div>
        <div class="properties">[template 2 results]</div>
        <section class="controls">[template 3 results]</section>
      </section>
      <section class="invisible">
        <!--The following sections are invisible templates, to be cloned,
        populated, and inserted into the document where needed.-->
        <section id="template-0">
          <!--Generic control template-->
          <div class="control" id="control-[action: listToggle or add]">
            <button class="generic">[button text]</button>
            <span class="legend">[legend]</span>
          </div>
        </section>
        <section id="template-1">
          <!--List-item template-->
          <div class="record" id="summary-[_id]">
            <button class="specific"
              id="[action: detail]-[_id]">[button text]</button>
            <span>[record summary]</span>
          </div>
        </section>
        <section id="template-2">
          <!--List-item property template-->
          <!--Remove readonly, required, or both below.-->
          <div class="property input-field">
            <input
              id="[action]_[property name]"
              class="validate"
              name="[property name]"
              type="[property type: text, url, date, or number]"
              readonly="[blank]"
              required="[blank]"
              placeholder="[property placeholder]"
              size="1"
              maxlength="1">
            <label class="active"
              for="[action]_[property name]">[property label]</label>
          </div>
        </section>
        <section id="template-3">
          <!--Specific control template-->
          <div class="control"
            id="control-[action: submit or cancel]">
            <button class="specific">[button text]</button>
            <span class="legend">[legend]</span>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
