html {
  font-family: GillSans, Calibri, Trebuchet, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

#add {
  background-color: #ffc;
}

#add > .controls > div:last-child,
#detail > .controls > div:last-child,
#list > div:last-child {
  padding-bottom: 1%;
}

#add > div,
#add > section,
#detail > div,
#detail > section {
  margin: 0 2%;
}

#add > .instructions,
#detail > div:first-child,
#list > div:first-child {
  padding-top: 1%;
}

#detail {
  background-color: #fdb;
}

#generic button.generic {
  background-color: saddlebrown;
  color: white;
}

#generic,
#generic .collection-header,
#generic .collection-item {
  background-color: tan;
}

#generic > .controls {
  padding-bottom: 1%;
}

#generic > section {
  margin: 0 2%;
}

#generic > .title {
  margin-bottom: 2%;
  padding-top: 1%
}

.input-field label {
  color: #552;
}

#intro,
#intro li,
#intro span {
  line-height: 1.2;
  padding-top: 0;
  padding-bottom: 0;
}

#intro li.collection-header {
  line-height: 1.2;
  font-weight: bold;
}

#intro span.tiny {
  font-size: 1.2rem;
  font-weight: bold;
}

.invisible {
  display: none;
}

#list {
  background-color: khaki;
}

#list > div {
  margin: 0 2%;
}

::placeholder {
  color: teal;
}
