html {
  font-family: GillSans, Calibri, Trebuchet, Helvetica, sans-serif;
}

/*@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),url(),
    local('Roboto-Regular'),
    url('fonts/roboto/Roboto-Regular.woff') format('woff'),
    url('fonts/roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto Bold'),url(),
    local('Roboto-Bold'),
    url('fonts/roboto/Roboto-Bold.woff') format('woff'),
    url('fonts/roboto/Roboto-Bold.woff2') format('woff2');
}*/

* {
  box-sizing: border-box;
}

#contingent {
  background-color: beige;
}

#generic,
#generic * {
  background-color: tan;
}

#intro,
#intro li,
#intro span {
  line-height: 1.2;
  padding-top: 0;
  padding-bottom: 0;
}

#intro,
#title {
  margin: 2%;
}

#intro li.collection-header {
  line-height: 1.2;
  font-weight: bold;
}

#intro span.tiny {
  font-size: 1.2rem;
  font-weight: bold;
}

#list {
  background-color: wheat;
}
